/* Herramienta para colores */
/* https://annystudio.com/software/colorpicker/ */

.hexadecimal{
    /* 3 pares => RRGGBB 0 a ff */
    background-color: #34afee;
    color:#fff;
}
.rgb{
    /* 0 a 255 cada valor */
    background-color:rgb(90,150,210);
    /*color:#fff;*/
}
.rgb > p{
    font-weight: bold;
    color:rgba(255,255,255,0.6); 
    /* rgba: es para texto se añade un cuarto valor que es el alfa, 
    el valor alfa va de 0 a 1 (este valor hace transparente)  */
}
.hsl{
    /* hsl(matiz, saturación, luminosidad) */
    background-color: hsl(180,75%,60%);
}
.grad{
    /* recomendación: utilizar solo dos colores, más de dos colores no da biuen resultado */
    /*background-image:linear-gradient(skyblue,yellow,purple) ;*/
    /* ideal
    background-image:linear-gradient(skyblue,yellow) ;
    */
    /* Se puede tambien anteponer el tipo de degradado */
    background-image: linear-gradient(245deg,skyblue,yellow);
}