body{
    background-color: burlywood;
}
.color-solido {
  background-color: teal;
  width: 500px;
  height: 500px;
}
.gradiente-lineal{
    width: 800px;
    height: 400px;
    /*background-image: linear-gradient(yellow, green);*/
    /* tiene angulo y direccion */
    /*background-image: linear-gradient(to top left,skyblue,yellow,green);*/
    background-image: linear-gradient(to left,red,white,red);
 }
.bandera{
    width: 800px;
    height: 400px;
    background-image:linear-gradient(90deg,red 33%, white 33%, white 66.66%, red 66.66%);
}
.gradiente-circular{
    height: 400px;
    background-image: radial-gradient(circle,yellow 33%,teal);

}
.another-one{
    height: 400px;
    background-image: radial-gradient(circle at 100%,#333 ,#333, 50%,#eee 75%,#333 75%);
}
.gradiente-conico{
    width: 500px;
    height: 400px;
    background: conic-gradient(from 90deg,red,orange);
}
.gradiente-pie{
    width: 500px;
    height: 400px;
    background:conic-gradient(lime 40%, yellow 0 70%, red 0) ;
}
